body {
  background-color: black;
  height: 100dvh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 99%;
  height: auto;
  border-radius: 4px;
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 1;
}

.nav_element {
  color: white;
  font-style: normal;
  padding-right: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.nav_element p {
  font-size: 18px;
  font-weight: 500;
}

.main {
  height: 98dvh;
  display: flex;
  gap: 2dvw;
}

.foto {
  background-image: url(../../images/Giulia-\ reduced\ size.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 98dvh;
  width: 50dvw;
  margin: auto 0;
}

.text {
  width: 35dvw;
  margin-top: 20dvh;
  font-family: "Space Mono", monospace;
  line-height: 2;
  color: white;
}

.text .name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 68px;
  margin-bottom: -2dvh;
  margin-left: -22vw;
}

#small-bio {
  margin: 40px 0 0 -100px;
  line-height: 2.4;
  font-size: 14px;
}

.description {
  border-radius: 4px;
  margin: 0;
}

.row {
  display: flex;
}

.column {
  margin-top: 10dvh;
  flex: 50%;
  padding: 55px 25px;
}

.column-item-1 {
  font-size: 42px;
  height: 60dvh;
  margin: 36px 7vw;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.2s steps(3) forwards;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}

.column-item-2 {
  font-size: 42px;
  height: 60dvh;
  margin: 36px 7vw;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 0.7s steps(8, end) forwards;
}

.column-item-3 {
  font-size: 42px;
  height: 60dvh;
  margin: 36px 7vw;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 0.7s steps(13, end) forwards;
}

.column-2-item-1 {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  line-height: 35px;
  margin: 36px 20px 0 -5vw;
  height: 60dvh;
}

.column-2-item-2 {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  line-height: 35px;
  margin: 36px 20px 0 -5vw;
  height: 60dvh;
}

.column-2-item-3 {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  line-height: 35px;
  margin: 36px 20px 0 -5vw;
  height: 60dvh;
}

.footer {
  height: 40dvh;
  margin: 160px 80px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: flex-end;
}

p {
  color: white;
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  text-shadow: 2px 2px 2px rgb(43, 42, 42);
}
