body {
  background-color: black;
  height: 100dvh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 99%;
  height: auto;
  border-radius: 4px;
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 1;
}

.nav_element {
  color: white;
  font-style: normal;
  padding-right: 15px;
  cursor: pointer;
}

.nav_element p {
  font-size: 18px;
  font-weight: 500;
}

.main-card {
  height: 98dvh;
  width: 100dvw;
  background-image: linear-gradient(
      to left,
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0.2),
      rgb(0, 0, 0, 1)
    ),
    linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0.2)
    ),
    url(./../../images/Giulia\ 2.jpg);
  background-size: cover;
  background-size: 80vw 100vw;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 1;
}

.description {
  margin: 100px 0;
  border-radius: 4px;
  padding: 0 40px;
}

.footer {
  height: 40dvh;
  border: 0.2px solid white;
  margin: 0 80px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: flex-end;
}

p {
  color: white;
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  text-shadow: 2px 2px 2px rgb(43, 42, 42);
}
