body {
  background-color: black;
  height: 100dvh;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 99%;
  height: auto;
  border-radius: 4px;
  display: flex;
  justify-content: end;
  border: 0.2px solid white;
  position: fixed;
}

.nav_element {
  color: white;
  font-family: "Nanum Gothic Coding", monospace;
  font-style: normal;
  padding-right: 15px;
  cursor: pointer;
}

h5 {
  font-weight: 100;
}

.big_card {
  border: 0.2px solid white;
  height: 98dvh;
}

.description {
  height: 70dvh;
  border: 0.2px solid white;
}

.footer {
  height: 40dvh;
  border: 0.2px solid white;
}

.info {
  border: 0.2px solid red;
  height: fit-content;
  width: fit-content;
  padding-left: 6dvh;
}

.info-2 {
  display: flex;
}

.card {
  display: flex;
  padding-top: 72dvh;
}

p {
  color: white;
  font-family: "Nanum Gothic Coding", monospace;
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  font-size: medium;
}

#title {
  padding: 8px;
}

#year {
  border: 0.2px solid white;
  border-radius: 24px;
  padding: 8px;
}

#location {
  padding: 8px;
}
