body {
  background-color: black;
  height: 100dvh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 99%;
  height: auto;
  border-radius: 4px;
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 1;
}

.nav_element {
  color: white;
  font-style: normal;
  padding-right: 15px;
  cursor: pointer;
}

.nav_element p {
  font-size: 18px;
  font-weight: 500;
}

.big_card_1 {
  background-image: url(../../images/A\ Tailor\ for\ Ladies.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-top: 80dvh;
  width: 100dvw;
}

.big_card_2 {
  background-image: url(../../images/Giulia.jpg);
  display: flex;
  padding-top: 80dvh;
  width: 100dvw;
  background-size: contain;
}

.big_card_3 {
  background-image: url(../../images/girotondo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-top: 80dvh;
  width: 100dvw;
}

.big_card_4 {
  background-image: url(../../images/Aspettando\ Godot.jpg);
  background-size: 36%;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  padding-top: 80dvh;
  width: 100dvw;
}

.carousel-container {
  height: 98dvh;
  width: 100dvw;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  height: 98dvh;
  width: 600dvw;
}

.description {
  height: 70dvh;
  margin: 0 50px;
}

.footer {
  height: 40dvh;
  border: 0.2px solid white;
  margin: 0 50px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: flex-end;
}

.card .info p {
  height: fit-content;
  width: fit-content;
  padding-left: 8dvh;
  position: absolute;
}

.card .info .title {
  top: 74%;
  font-size: 38px;
}

.card .info .location {
  top: 80%;
  font-size: 38px;
}

.card .info .plays {
  top: 44%;
  font-size: 24px;
  font-weight: 400;
}

p {
  color: white;
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  text-shadow: 2px 2px 2px rgb(43, 42, 42);
}

#prevBtn {
  position: absolute;
  top: 92%;
  right: 8%;
  z-index: 10;
  opacity: 0.8;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 92%;
  right: 5%;
  z-index: 10;
  opacity: 0.8;
  cursor: pointer;
}

.description .title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

.description p {
  font-family: "Space Mono", monospace;
  font-weight: 100;
  font-size: 14px;
}
