body {
  background-color: black;
  height: 100dvh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 99%;
  height: auto;
  border-radius: 4px;
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 1;
}

.nav_element {
  color: white;
  font-style: normal;
  padding-right: 15px;
  cursor: pointer;
}

.nav_element p {
  font-size: 18px;
  font-weight: 500;
}

#contact {
  border: 0.1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-shadow: none;
  padding: 10px 15px;
  margin-top: 8px;
  margin-left: -15px;
}

#contact:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
  a {
    color: black;
  }
}

.main-card {
  position: static;
  height: 100dvh;
  width: 100dvw;
  background-image: linear-gradient(
      to left,
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0.2),
      rgb(0, 0, 0, 1)
    ),
    linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0.2)
    ),
    url(./../../images/Giulia\ 2.jpg);
  background-size: cover;
  background-size: 80vw 100vw;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 1;
}

.fade-in-image {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-card p {
  margin: 0;
  width: 40dvw;
}

.name {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-size: 52px;
  top: 2%;
  right: -2%;
  width: 40dvw;
  display: block;
}

.role {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  top: 3%;
  right: -3%;
  width: 40dvw;
  display: block;
  font-weight: 100;
  letter-spacing: 12px;
}

.description {
  margin: 100px 0;
  border-radius: 4px;
  margin: 0 40px;
}

.footer {
  background-color: white;
  border-radius: 6px;
  position: static;
  height: 50dvh;
  margin: 5px 0;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
}

.footer-box {
  width: 80%;
  height: fit-content;
  padding: 30px 0;
  margin: auto;
  border: 0.2px solid rgb(214, 211, 200);
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
}

.icons {
  width: fit-content;
  display: flex;
  font-size: 24px;
  color: black;
}

#giu {
  font-size: 28px;
  color: black;
  text-shadow: none;
  margin: 36px 2px 10px 2px;
  font-family: "Bebas Neue", sans-serif;
}

.icons-media {
  margin-left: 5dvw;
  width: fit-content;
}

.icons-media p {
  font-size: 10px;
  color: black;
  text-shadow: none;
  font-family: "Space Mono", monospace;
  margin-bottom: 60px;
  margin-left: 2px;
  width: 18dvw;
}

#mail {
  width: 28px;
  height: 28px;
  margin-top: -2px;
}

.media {
  margin: auto 25dvw;
  padding-block: 20px;
}

.media-item {
  color: black;
  text-shadow: none;
  font-weight: 200;
  letter-spacing: 2px;
  cursor: pointer;
}

#contact-footer {
  color: black;
  text-decoration: none;
}

p {
  color: white;
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  text-shadow: 2px 2px 2px rgb(43, 42, 42);
}

a {
  color: white;
  text-decoration: none;
}
