body {
  background-color: black;
  height: 100dvh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 99%;
  height: auto;
  border-radius: 4px;
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 1;
}

.nav_element {
  color: white;
  font-style: normal;
  padding-right: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.nav_element p {
  font-size: 18px;
  font-weight: 500;
}

.big_card {
  height: 98dvh;
  background-image: url(../../images/girotondo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 98dvh;
  width: 100dvw;
  position: relative;
}

.description {
  border-radius: 4px;
  margin: 20dvh 0;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 55px 25px;
}

.column-item {
  font-size: 42px;
  height: 120.5px;
  margin: 36px 7vw;
}

.column-2-item {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  margin: 36px 15px;
  height: 120.5px;
  width: 40dvw;
}

.footer {
  height: 40dvh;
  margin: 0 80px;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: flex-end;
}

p {
  color: white;
  font-style: normal;
  font-weight: 400;
  margin-right: 15px;
  text-shadow: 2px 2px 2px rgb(43, 42, 42);
}

.title {
  position: absolute;
  font-size: 48px;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: white;
  text-decoration: none;
}

#contact {
  border: 0.1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-shadow: none;
  padding: 10px 15px;
  margin-top: 8px;
  margin-left: -15px;
}

#contact:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
  a {
    color: black;
  }
}
