@media (max-width: 79rem) {
  /*Screen smaller than 1270px*/
  html {
    font-size: 58%;
  }

  .play-card {
    margin: 15% auto;
  }

  .card-foto {
    height: 42dvh;
  }
}

@media (max-width: 79rem) {
  /*Screen smaller than 1130px*/
  html {
    font-size: 56%;
  }

  .card-text {
    margin-top: 1rem;
  }

  .card-description {
    font-size: 1rem;
  }

  .card-foto {
    height: 38dvh;
    margin-top: 3rem;
  }
}

@media (max-width: 59rem) {
  /*Screen smaller than 940px*/
  html {
    font-size: 55%;
  }

  .card-foto {
    height: 30dvh;
  }

  .card-text {
    margin-top: 0;
  }

  .card-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 50rem) {
  /*Screen smaller than 800px*/
  html {
    font-size: 53%;
  }

  .card-foto {
    height: 34dvh;
    padding-inline: 2rem;
    margin-top: 0;
  }

  .card-text {
    width: 95%;
    padding: 0;
    margin-left: 1.8rem;
    margin-top: 0;
  }

  .play-card {
    margin: 20rem 5rem;
    border-radius: 20px;
    border: none;
  }

  .card-title {
    font-size: 2.8rem;
    margin-top: 1rem;
  }

  .card-description {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-bottom: 0;
  }
}
